<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.wanandroid.module_mine">

    <application>
        <activity android:name=".module_activity.MineMainActivity"/>
        <activity android:name=".module_activity.LoginActivity"/>
        <activity android:name=".module_activity.RegisterActivity" />
        <activity android:name=".module_activity.MyPointDetailActivity"/>
        <activity android:name=".module_activity.CoinRankActivity"/>
        <activity android:name=".module_activity.MyShareArticleActivity"/>
        <activity android:name=".module_activity.MyCollectArticleActivity"/>
        <activity android:name=".module_activity.OtherShareArticleActivity"/>
        <activity android:name=".module_activity.AboutActivity"/>
        <activity android:name=".module_activity.AppUpdateRecordActivity"/>
    </application>

</manifest>