<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.wanandroid.library_common">

    <application>
        <provider
            android:authorities="${applicationId}.contentprovider"
            android:name=".AppContentProvider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>