<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.wanandroid.module_home">

    <application>
        <activity android:name="com.knight.wanandroid.module_home.module_activity.HomeActivity">
        </activity>
        <activity android:name=".module_activity.SearchActivity"/>
        <activity android:name=".module_activity.SearchResultActivity" />
    </application>

</manifest>