<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.wanandroid.module_web">

    <application>
        <activity android:name=".module_activity.WebActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize"
        android:hardwareAccelerated="true"
       />
        <activity android:name=".module_activity.WebNormalActivity"/>
        <activity android:name=".module_activity.WebTransitionActivity"/>
        <activity android:name=".module_activity.WebPreviewPhotoActivity"/>
    </application>

</manifest>