<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.wanandroid.module_course">

    <application>
        <activity
            android:name=".activity.CourseListActivity">
        </activity>
        <activity android:name=".activity.CourseDetailListActivity"/>
    </application>

</manifest>